.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
docs/*.gif
docs/install
node_modules/**/*.jpg
node_modules/**/*.md
node_modules/**/*.ts
node_modules/yaml/browser
.attic
.history
*.patch
coverage
.nyc_output